<h1>Bienvenido, {{user.name}}</h1>


 <h2>Lista de productos disponibles</h2>
   <div id="productList">   
    <ul>
        {{#each products}}
            <li class="product">
            <h3 class="product-title">{{this.title}}</h3>
            <p class="product-description">{{this.description}}</p>
            <p class="product-price"><strong>Precio:</strong> ${{this.price}}</p>
            <p class="product-stock"><strong>Stock:</strong> {{this.stock}}</p>
            </li>
        {{/each}}
    </ul>
   </div>